.App {
  text-align: center;
}

.bg-light {
  background-color: rgb(250, 250, 197) !important;
}

.main-bg {
  height: 300px;
  /* background-image: url(./img/bg.png); */
  background-color: #e9e5dc;
  background-repeat: no-repeat;
  background-size: auto 300px;
  background-position: center;
}
